{
  "token": "REPLACE_WITH_ZABBIX_API_TOKEN",
  "password": "REPLACE_WITH_ZABBIX_PASSWORD",
  "platform_password": "REPLACE_WITH_CURRENT_PLATFORM_PASSWORD",
  "store_connect": {
    "aws_account_id": "REPLACE_WITH_AWS_ACCESS_KEY_ID",
    "aws_secret_key": "REPLACE_WITH_AWS_SECRET_ACCESS_KEY",
    "redis_password": "REPLACE_WITH_REDIS_PASSWORD",
    "direct_token": "REPLACE_WITH_MASTER_API_TOKEN"
  },
  "enable_user": {
    "username": "REPLACE_WITH_USER_PASSWORD"
  },
  "mfa_client_secret": {
    "mfa-name": "REPLACE_WITH_MFA_CLIENT_SECRET"
  },
  "secret_globalmacro": [
    {
      "macro": "{$SECRET_MACRO}",
      "value": "REPLACE_WITH_SECRET_MACRO_VALUE"
    }
  ],
  "psk": {
    "proxy": {
      "proxy-name": [
        "REPLACE_WITH_PROXY_PSK_IDENTITY",
        "REPLACE_WITH_PROXY_PSK"
      ]
    },
    "host": {
      "host-name": [
        "REPLACE_WITH_HOST_PSK_IDENTITY",
        "REPLACE_WITH_HOST_PSK"
      ]
    },
    "autoregistration": [
      "REPLACE_WITH_AUTOREGISTRATION_PSK_IDENTITY",
      "REPLACE_WITH_AUTOREGISTRATION_PSK"
    ]
  }
}
